<div class="container mt-5 d-flex align-items-center justify-content-center">
  <div class="card form col-5" >
    <div class="card-header">
      <h3>Formulaire d'ajout de produit</h3>
      <div class="card-subtitle alert-danger" *ngIf="error">{{error.message()}}</div>
    </div>
    <div class="m-lg-5 card-body col-10">
      <form  #f="ngForm" (ngSubmit)="updateProduct()" *ngIf="product">
        <div class="mb-3 align-items-center">
          <label for="id" class="col-form-label">ID</label>
          <input type="text" name="id" id="id" class="form-control" [(ngModel)]="product['id']" disabled="true">
        </div>
        <div class="mb-3 align-items-center">
          <label for="name" class="col-form-label">Name</label>
          <input type="text" name="name" id="name" class="form-control" [(ngModel)]="product['name']">
        </div>
        <div class="mb-3 g-3 align-items-center">
          <label for="price" class="col-form-label">Price</label>
          <input type="number" id="price" class="form-control" name="price"  [(ngModel)]="product['price']">
        </div>
        <div class="mb-3 g-3 align-items-center">
          <label for="quantity" class="col-form-label">Quantity</label>
          <input type="number" id="quantity" class="form-control" name="quantity" [(ngModel)]="product['quantity']">
        </div>
        <div class="mb-3 g-3 align-items-center">
          <input type="checkbox" class="form-check-input me-2" id="available"  name="available" [(ngModel)]="product['available']">
          <label class="form-check-label" for="selected">Available</label>
        </div>
        <div class="mb-3 g-3 align-items-center">
          <input type="checkbox" class="form-check-input me-2" id="selected" name="selected" [(ngModel)]="product['selected']">
          <label class="form-check-label" for="selected">Selected</label>
        </div>
        <div class="card-footer">
          <div class="text-center"><button class="btn btn-primary">Ajouter</button></div>
        </div>
      </form>
    </div>
  </div>
</div>
